<!doctype html>
<html>

<head>
    <!-- Preconnect to Google Fonts server - Montserrat font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">

    <!-- title of the webpageusing shopName variable -->
    <title>
        <%=shopName%>
    </title>
</head>

<body>
    <!-- title indicating the about section of shop -->
    <h1>About <%=shopName%> Shop</h1>
    <br>
    <br>
    <div class="about">
        <!-- Paragraph describing the shop's philosophy and passion -->
        <p>At Pub Express, we believe in more than just selling beverages;
        <p> we're passionate about crafting memorable experiences.</p>
        <!-- Paragraph explaining the establishment of the online store and its mission -->
        <p>Established by a team of experts with a profound love for fine spirits,</p>
        <p>our online store aims to bring people together through the art of drinking.</p>
    </div>
</body>

</html>